.maincontainer{
    @apply bg-white border-[1px] border-[#DADADA] rounded-lg p-4;
}

.title{
    @apply font-semibold text-lg;
}

.subtitle{
    @apply text-sm font-normal text-[#989898];
}

.img{
    @apply w-6 h-6;
}

.usenam{
    @apply font-semibold text-lg text-[#030303];
}

.changeprofile{
    @apply text-sm font-normal text-[##030303];
}

.userIconSize{
    @apply w-24 h-24 rounded-full;
}

.creditlabel{
@apply font-bold text-lg text-[#565860];
}

.creditamount{
@apply font-bold text-xl text-[#1F467D];
}

.para{
    @apply font-semibold text-mediumtext text-[#6A6A6A];
}

.div{
    @apply flex justify-center text-[#1F467D] font-bold text-xl;
}

.span {
    @apply text-sm font-normal text-[#6A6A6A] pl-1;
}

.pa{
    @apply font-bold text-xl text-[#1F467D];
}

.date{
    @apply font-semibold text-mediumtext text-[#6A6A6A];
}

.btn{
    @apply font-normal text-xl rounded-full bg-[#3BBC7B] text-white p-4;
}


.cards{
    @apply bg-[#FBFBFB] px-6 py-3 rounded-lg shadow-sm flex items-center;
  }
  
  .cards span{
    @apply text-[#1F467D] font-bold text-lg;
  }
  .cards p{
    @apply text-xs text-[#464646] mt-1;
  }
  
  .enegen{
    @apply w-px h-11 bg-[#C4C5CF] mx-3;
  }
  

.modalHeader{
    @apply grid grid-cols-[1fr_auto] items-center p-5;
    border-bottom: 1px solid #f0f0f0;
}

.modalHeaderTitle{
    @apply font-bold text-3xl text-[#434343];
}

.modalCloseIcon {
    @apply w-9 h-9 text-[#6A6A72];
    cursor: pointer;
}

.gridContainer{
    @apply grid grid-rows-[auto_auto_1fr] p-5 gap-4;
}

.scheduleCard{
    @apply w-full bg-[#FBFBFB] p-4 rounded-lg shadow-sm flex flex-col gap-2;
}

.scheduleCardHeader{
    @apply flex items-center justify-between;
}

.scheduleCardContent{
    @apply font-semibold text-mediumtext text-[#030303];
}

.scheduleCardImg{
    @apply w-6 h-6 cursor-pointer;
}

.verticalDivider{
    @apply w-px h-11 bg-[#C4C5CF];
} 

.horizontalDivider{
    @apply w-full h-px bg-[#C4C5CF] my-5;
}

.scheduleCardpa{
    @apply text-mediumtext font-normal text-[#767575];
}

.consec{
    @apply flex items-center gap-2;
}

.consecimg{
    @apply w-9 h-9;
}

.bottomsec{
    @apply flex justify-between items-center text-xs font-bold cursor-pointer;
}

.bottompa{
    @apply font-bold text-normaltext;
}

.topsec{
    @apply flex justify-between items-center;
}

.capsec{
    @apply text-center;
}

.capsec span{
    @apply font-bold text-lg;
}

.capsec p{
    @apply text-xs font-semibold text-[#767575] mt-1;
}

.expansec{
    @apply m-3 ml-16 text-lg text-[##030303] space-y-2 font-semibold;
}

.expanul{
    @apply list-disc list-inside space-y-2;
}

.expanarrow{
    @apply cursor-pointer text-[#464646];
}

.textpa{
    @apply font-semibold text-lg text-[#767575];
}

.companynamelogo{
    @apply w-[56px] h-[56px] flex items-center justify-center rounded-full border-[1px] border-[#ccc] text-[14px] font-bold text-[#1F467D];
}