.footerbg {
  @apply bg-primary-Color1 pt-6 pb-2;
  box-shadow: -6px 0px 6px 0px #00000040;
}

.footerBottombg {
  @apply bg-primary-Color1 py-2;
  border-top:1.01px solid #FFFFFF;
}

.footerSeparate {
  @apply grid grid-cols-1 lg:grid-cols-2 gap-x-12;
}

.footerHeading {
  @apply text-primary-Color6 text-mediumtext mb-5 font-semibold;
}

.footerText {
  @apply text-primary-Color6 text-normaltext font-normal;
}

.footerDivide {
  @apply flex flex-col;
}

.navigateMenu {
  @apply text-primary-Color6 text-normaltext font-normal py-1;

  &:hover {
    @apply text-amber-900 font-bold;
  }

  &:last-child {
    @apply border-b-0;
  }
}

.copyrightText {
  @apply text-center text-normaltext text-primary-Color6 mt-0;
}

.navmenuDivide {
  @apply grid grid-cols-2 gap-3;
}

.emailText {
  @apply flex items-center gap-2 mt-5 text-normaltext font-semibold text-primary-Color6;
  
  &:hover {
    @apply text-amber-900 font-bold;
  }
}

.footerImg {
  @apply flex flex-col items-start mb-4;
}

.footerMap {
  position: relative;
  width: 100%;
  height: 220px;      // fixed height for mobile
  overflow: hidden;  // IMPORTANT: stops map from overflowing
  border-radius: 12px;

  iframe {
    width: 100%;
    height: 100%;
    border: 0;
  }

  @media (min-width: 768px) {
    height: 280px;   // desktop height
  }
}
